.icon{

    &__searchBar{
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        width: 70px;
        height: 70px;
    
        font-size: 1.8rem;
        transition: transform .3s ease;
        cursor: pointer;
    
        &:hover{
            transform: scale(1.2);
        }
    }
}