@use '../utils/' as *;

.searchBar {
    position: relative;
    margin-bottom: 25px;

    &__input {
        width: 100%;
        height: 70px;
        background-color: $color__background-light;
        border: none;
        border-radius: $borderRadius;
        padding-left: 25px;
        padding-right: 70px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.125rem;
    }
}