$color__primary : #D04F4F;

$color__background-light : #E7E7E7;
$color__backgroung-dark : #C7BEBE;
$color__filter-ingredients : #3282F7;
$color__filter-appareils : #68D9A4;
$color__filter-ustensiles : #ED6454;
$color__text-light : #FFFFFF;
$color__text-dark : #000000;
 
$borderRadius : 5px;